/*******************************************************************************
doLast Theme for GitHub Pages
by Greg Wang, @gregwym
*******************************************************************************/

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  color:#373737;
  background: url('../img/bg_formula.png');
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

/* Tweak sidebar
-------------------------------------------------- */
.sidebar {
  padding: 100px 20px 100px 0;
  text-align: right;
  border-right: 1px dashed #ddd;
  font-weight: bold;
  position: fixed;
  width: 199px;
}

.sidebar .brand {
  padding: 10px 0px;
  margin:auto;
  font-weight: bold;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar .brand:hover {
  color: #333;
}

.sidebar .navs {
  list-style: none;
}

.sidebar .navs li {
  line-height: 28px;
}

.sidebar .navs .active {
  background: #ddd;
}

/* Tweak content
-------------------------------------------------- */
.content {
  padding: 20px;
}

article {
  background: white;
  -webkit-border-radius: 3px;
  margin: 0 0 1.625em;
  padding: 1.625em;
  box-shadow:0 0 10px rgba(200,200,200,0.8);
}

article header {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 5px;
}

article section {
 margin-bottom: 5px;
}

/* Tweak footer
-------------------------------------------------- */
.footer {
  border-top: 1px dashed #ddd;
  padding: 10px;
  text-align: center;
  color: #999;
}
